version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: oeuvre_guard_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: qwerty123456
      POSTGRES_DB: oeuvre_guard
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "8190:80"
    depends_on:
      - postgres

volumes:
  postgres_data:
